:root {
    --brancoPrincipal: #FFFFFF;
    --cinzaSecundario: #C0C0C0;
    --botaoAzul: #167BF7;
    --corFundo: #00030C;
    --fontePrincipal: 'Inter';
    --botaoAzulEfeito: #88b7ef;
}

body {
    background-color: var(--corFundo);
    color: var(--brancoPrincipal);
    font-family: var(--fontePrincipal);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url("img/Background.png");
    background-repeat: no-repeat; /*não repetir a imagem*/
    background-size: contain; 
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.containerBotao {
    background-color: var(--botaoAzul);     
    border-radius: 5px; /*arredondar*/
    padding: 1em; /*aumentar o botão*/
    color: var(--brancoPrincipal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
    text-align: center;
}

.botaoSecundario {
    background-color: transparent;
    border: 2px solid var(--brancoPrincipal);
}

.containerAviso {
    font-size: 12px;
    color: var(--cinzaSecundario);
}

.containerTitulo {
    font-size: 28px;
    font-weight: 700;
}

.containerImagem {
    margin: 1em 0 2em 0;
}

.containerCaixa {
    margin: 0 6em;
}

.imagemSecundaria {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 8em;
}

.descricaoTitulo {
    font-weight: 700;;
    font-size: 40px;
    color: var(--brancoPrincipal);
    margin-bottom: 0.1em;
}

.descricaoTexto {
    color: var(--cinzaSecundario)
}

.secundarioBotao {
    display: inline-block;
    margin-top: 1em;
}

.containerDescricao {
    padding: 2em;
}

.imagemNotebook {
    width: 100%
}

.dispositivosLista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 3em 0;
}

.dispositivos {
    text-align: center;
}

.dispositivosTitulo {
    font-size: 40px;
    color: var(--brancoPrincipal);
}

.listaItem {
    font-size: 26px;
    color: var(--brancoPrincipal);
}

.rodape {
    text-align: center;
    margin: 2em 3em;
}

.rodapeLista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.listaLink a{
    text-decoration: none;
    color: var(--brancoPrincipal);
    margin-left: 1em;
    font-size: 15px;
}

.rodapeTexto {
    margin: 1em 0;
    color: var(--cinzaSecundario);
    font-size: 12px;
}

.rodapeLogo {
    margin-bottom: 1em;
}

.listaLink a:hover {
    color: var(--botaoAzul);
}

.listaLink a:active {
    color: var(--botaoAzulEfeito);
}

.containerBotao:hover {
    background-color: var(--botaoAzulEfeito);
    color: var(--corFundo);
}